body{
    background:
        linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
        url('../../public/img/bosque.jpg');

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.sidebar-custom{
    background: linear-gradient(180deg, #1B5E20, #2E7D32);
    box-shadow: 4px 0 12px rgba(0,0,0,0.2);
}

.user-info{
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(4px);
}

.sidebar-custom .btn{
    transition: all .3s ease;
}

.sidebar-custom .btn:hover{
    transform: translateX(5px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.datos-autoridad{
    background: rgba(255,255,255,0.85);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}
