h3{
    border-left:6px solid #2E7D32;
    padding-left:12px;
}


/* TABLAS */

.table{
    background:white;
    border-radius:10px;
    overflow:hidden;
}


.table td{
    text-align:center;
    vertical-align:middle;
}


/* ENCABEZADOS */

.encabezado-civiles{
    background:#43A047;
    color:white;
    text-align:center;
}

.encabezado-autoridades{
    background:#1565C0;
    color:white;
    text-align:center;
}


/* BUSCADOR */

.busqueda{
    max-width:300px;
}


/* FILA DETALLE */

.fila-detalle{
    display:none;
    background:#f8f9fa;
}


.detalle-empresa{
    text-align:left;
    padding:15px;
    background:#e8f5e9;
    border-left:5px solid #2E7D32;
    border-radius:6px;
}
