:root {
    --primary-dark: #1B4332;
    --primary: #2D6A4F;
    --primary-light: #40916C;
    --background-soft: #F1FAF5;
}

body {
    background-color: var(--background-soft);
}

.navbar-custom {
    background-color: var(--primary-dark);
}

.hero-section {
    background: linear-gradient(135deg, var(--primary-dark), var(--primary));
    color: white;
    padding: 120px 0;
}

.section-title {
    color: var(--primary-dark);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
}

.footer-custom{
    background-color: var(--primary-dark);
    color:white;
}
